<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gp.mldview">


    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".loadingview.LeafLoadingActivity">

        </activity>
        <activity android:name=".draggrid.DragGridActivity"/>

        <activity android:name=".guideview.GuideDemoActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity android:name=".pie.PieActivity" />
        <activity android:name=".SearchViewActivity"/>
        <activity android:name=".MySearchViewActivity"/>
        <activity android:name=".BasicViewActivity"/>
        <activity android:name=".SetPolyToPolyActivity"/>
        <activity android:name=".CameraRotateActivity"/>
        <activity android:name=".rxjava2.Rxjava2Activity"/>
        <activity android:name=".dagger.HomeActivity"/>
        <activity android:name=".SpannableActivity"/>
        <activity android:name=".ether.Web3jActivity"/>
    </application>

</manifest>